---
id: about
title: About
---
<section class="eightcol">
  <header>
    <h1>What is the Student Activities Committee?</h1>
  </header>
  <div class="content">
    <p>The Computer Science Student Activities Committee is a committee in the Department of Computer Science composed of undergraduate, masters, and PhD students with the following two objectives:</p>
    <ol>
      <li>
        <p><b>Student Events</b>. The committee facilitates and promotes the organization of events that are of interest to technical students on campus (including, but not limited to, students in the Department of Computer Science).</p>
        <p>The Student Activities Committee's main role is to act as the main "point of contact" for (1) external speakers interested in speaking to technical students, and (2) companies interested in connecting with technical students (including for recruitment purposes). Proposals for events are submitted to the committee and are then typically passed on to one of the two technology-oriented Recognized Student Organizations on campus: <a href="http://hack.uchicago.edu" target="_blank">hack@uchicago</a> and the <a href="http://acm.cs.uchicago.edu/" target="_blank">ACM Student Chapter</a>.</p>
        <p>If you are interested in holding an event on campus, please see our <%= link_to 'Holding an Event on Campus', './events.html' %> page.</p>
      </li>
      <li>
        <p><b>Fundraising</b>. The committee actively seeks out donations from companies, alumni, and other individuals to fund the committee's activities. These fund are used for specific events and also for the purchase of hardware and other capital improvements that benefit technical students on campus, such as Arduinos, Raspberri Pi's, tools, etc.</p>
        <p>If you are interested in donating to the Computer Science Student Activities Fund, including sponsoring student events on campus, please see the <%= link_to 'Donate to the Student Activities Fund', './donate.html' %> page. A list of corporate and alumni donors can be found in the <%= link_to 'Donors', './donors.html' %> page.</p>
      </li>
    </ol>
<h2>Composition of the Committee</h2>

<p>The composition of the Computer Science Student Activities Committee is governed by the following rules:</p>

<ol>
<li>The committee shall have six voting members: two <%= link_to 'College', 'http://college.uchicago.edu/' %> students majoring in Computer Science, two students from the <%= link_to 'Masters in Computer Science Program', 'http://csmasters.uchicago.edu/' %>, and two students from the <%= link_to 'Computer Science PhD program', 'http://www.cs.uchicago.edu/info/phd_prog/' %>.</li>
<li>The committee shall have a non-voting departmental advisor. This advisor must be a staff or faculty member of the Department of Computer Science, and he/she shall act as a liaison between the committee and the department.</li>
<li>The committee's departmental advisor shall be appointed by the Chair of the Department of Computer Science.</li>
<li>The student members shall be appointed by the Chair of the Department of Computer Science, on the recommendation of the committee's departmental advisor.</li>
<li>No student may serve for more than two consecutive years in the committee.</li>
<li>The committee shall elect a Chair and a Treasurer from among its student members. The position of Chair shall rotate each year between undergraduates, PhD students, and Masters students.</li>
</ol>

  </div>
</section>

<section class="fourcol last">
  <header>
    <h1>Current Committee Members</h1>
  </header>
  <div class="content">
    <p>The members of the committee are:</p>

<ul>
<li><strong><a href="http://charlescary.com/">Charles Cary</a></strong><br/><em>College, Class of 2013</em></li>
<li><strong>Janet Jenq</strong><br/><em>Masters in CS Program</em></li>
<li><strong><a href="http://www.cs.uchicago.edu/people/larsson">Gustav Larsson</a></strong><br/><em>PhD in CS Program</em></li>
<li><strong><a href="http://www.cs.uchicago.edu/people/olsona">Anna Olson</a></strong><br/><em>PhD in CS Program</em></li>
<li><strong>Rob Timpone</strong><br/><em>Masters in CS Program</em></li>
<li><strong>Rafael Turner</strong><br/><em>College, Class of 2013</em></li>
</ul>

<p>The departmental advisor to the committee is <a href="http://people.cs.uchicago.edu/~borja/">Borja Sotomayor</a>.</p>

  </div>
</section>
