---
id: employers
title: Information for Employers
---
<section class="twelvecol last">
  <header>
    <h1>Information for Employers</h1>
  </header>
  <div class="content">
    <p>One of the roles of the Computer Science Student Activities Committee is to help employers connect with technical students on campus. If you are interested in recruiting on campus, the committee will help you set up recruitment events targeted towards technical students (including Computer Science students). We will help you determine what kind of event is a good fit for your organization, and will also take care of reserving rooms on campus, ordering food, etc.</p>

<h2>Setting up a Recruitment Event on Campus</h2>

<p>Due to the size and nature of the student population at the University of Chicago, you should be aware that recruitment talks and "info sessions" (where a recruiter or HR representative speaks about a company at a high level) typically attract very small audiences. Our technical students usually prefer interacting with individuals from your organization who can converse with them at a deeply technical level.</p>

<p>Therefore, we usually only host employers for two types of events:</p>

<ul>
<li><strong>Hack Nights</strong>: A social gathering of "hackers" (students passionate about computer programming) every Friday night where students come together to work on projects and eat free pizza. Sponsoring a hack night can give your company exposure to these students, and we encourage you to send developers and other technical employees to come and hang out with our students.</li>
<li><strong>Tech Talks</strong>: A 45-60 minute technical talk delivered by an expert in the field. These talks cover deeply technical topics, and must be delivered by a technical employee (developer, software engineer, etc.), not by a recruiter or manager.</li>
</ul>

<p>If you are interested in engaging with our students through one of these events, we suggest you follow these steps:</p>

<ol>
<li>Read our <%= link_to 'Holding an Event on Campus', 'events.html' %> page. This page provides more details on hack nights and tech talks, as well as other opportunities for engaging with our students.</li>
<li>Find technical employees in your organization who might be interested in participating in a hack night, or who can deliver a technical talk.</li>
<li>Once you know what kind of event you'd like to pursue, contact the Computer Science Student Activities Committee at <a href="mailto:events@studentactivities.cs.uchicago.edu">events@studentactivities.cs.uchicago.edu</a> to get the ball rolling. The <%= link_to 'events', 'events.html' %> page has more details on the information you should include when contacting us.</li>
<li>A member of the committee will follow up with you to schedule your event and work out all other logistical details.</li>
</ol>

<h2>Frequently Asked Questions</h2>

<p>
<strong>I have a job posting. How can I distribute it to technical students at UChicago?</strong><br/>
Please submit your job posting to the department's <%= link_to 'job board', 'http://www.cs.uchicago.edu/info/student_jobs' %>. The committee is also working on a new and improved job board that will streamline the process of submitting job postings, and making sure they get distributed to students who are currently seeking internships or full-time positions.
</p>

<p>
<strong>Could you send my job posting to your undergraduate/ACM/hacker/etc. mailing lists?</strong><br/>
Sorry, we cannot do this. As a matter of policy, we do not forward job postings to our student mailing lists. Please use the <%= link_to 'job board', 'http://www.cs.uchicago.edu/info/student_jobs' %> instead.
</p>

<p>
<strong>How technical does a "tech talk" have to be?</strong><br/>
Please see our list of <%= link_to 'past tech talks', 'http://acm.cs.uchicago.edu/Events' %>. It should give you an idea of the kind of speakers and topics that we are interested in hosting. 
</p>
<p>Take into account that proposals for tech talks are reviewed by the committee, and can be turned down if we feel the topic or speaker will not be of interest to our students. If a tech talk is not a good fit for your organization, please consider participating in a hack night instead.</p>

<p>
<strong>Besides participating in a hack night or giving a tech talk, are there other ways for me to connect with UChicago students?</strong><br/>
Yes, we also host hackathons and programming contests. These happen less frequently, so they are not as easy to schedule as hack nights and tech talks. However, if you're interested in these other types of events, please see our <%= link_to 'Holding an Event on Campus', 'events.html' %> page.
</p>

  </div>
<section>
